In [1]:
import os
from pathlib import Path
import numpy as np
import pandas as pd

from scipy.interpolate import interp1d

## Load Data

In [2]:
track_file_path = Path("../data/interim/pendulum_small/exp2/tracks/IMG_4084_trimmed.txt")
video_file_path = Path("../data/interim/pendulum_small/exp2/IMG_4084_trimmed.mp4")

track = pd.read_csv(track_file_path, sep=" ", index_col=False, names=["Frame", "Id", "x", "y", "w", "h", "conf", "vis1", "vis2", "vis3"])
track

     Frame  Id    x    y    w    h  conf  vis1  vis2  vis3
0        3   1   50  429  171  129    -1    -1    -1     0
1        4   1   47  427  172  129    -1    -1    -1     0
2        5   1   49  428  172  130    -1    -1    -1     0
3        6   1   55  433  170  129    -1    -1    -1     0
4        7   1   63  440  171  130    -1    -1    -1     0
..     ...  ..  ...  ...  ...  ...   ...   ...   ...   ...
163    183   5  471  671  159  140    -1    -1    -1     0
164    184   5  525  687  156  141    -1    -1    -1     0
165    185   5  579  702  157  140    -1    -1    -1     0
166    186   5  635  714  159  141    -1    -1    -1     0
167    187   5  699  725  154  140    -1    -1    -1     0

[168 rows x 10 columns]

## Method 0

In [19]:
def get_txy_from_grid(dataframe, obj_id, grid):
    dataframe = dataframe[dataframe["Id"].isin(obj_id)]
    result = pd.DataFrame()
    result["t"] = dataframe["Frame"]
    result["x"] = dataframe["x"] + 0.5 * dataframe["w"]
    result["y"] = dataframe["y"] + 0.5 * dataframe["h"]
    
    return result

In [20]:
get_txy_from_grid(track, [1, 5], None)

       t      x      y
0      3  135.5  493.5
1      4  133.0  491.5
2      5  135.0  493.0
3      6  140.0  497.5
4      7  148.5  505.0
..   ...    ...    ...
163  183  550.5  741.0
164  184  603.0  757.5
165  185  657.5  772.0
166  186  714.5  784.5
167  187  776.0  795.0

[168 rows x 3 columns]

In [9]:
track.loc[:,"Id"] in [1]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().